* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mixins
@mixin mobileCards {
  @media screen and (max-width: 600px) {
    box-shadow: none;
    border-radius: none;
  }
}
@mixin mobilePadding {
  padding: 12px;
}

body {
  background-color: #eee;
  font-family: sans-serif;
  width: 100%;
  height: fit-content;

  @media screen and (max-width: 600px) {
    background-color: #ddd;
  }

  .nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 28px rgba(60, 61, 67, 0.2);
    z-index: 10000;
    // @media screen and (max-width: 600px) {
    //   box-shadow: 3px 3px 12px rgba(60, 61, 67, 0.7);
    // }

    // Navigations
    @import "./components/mobile-nav";
    @import "./components/desktop-nav";
  }

  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1099px) {
      align-items: flex-start;
    }
    @media screen and (max-width: 899px) {
      align-items: center;
    }

    .left-sidebar {
      position: absolute;
      left: 0;
      top: 0;
      width: 18%;
      background-color: transparent;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1099px) {
        display: none;
      }

      .shortcuts {
        margin-top: 10px;
        border-top: 3px solid #ddd;

        h4 {
          color: #777;
          font-size: 18px;
          margin-top: 10px;
          padding: 10px 10px 0px 10px;
        }
      }

      a {
        text-decoration: none;
        color: #444;
        position: relative;
        margin-top: 15px;
        background-color: transparent;
        border-radius: 10px;
        width: 100%;
        min-height: fit-content;
        transition: all 300ms ease-in-out;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        // justify-content: space-evenly;
        padding: 10px 0px 10px 0px;
        @media screen and (max-width: 600px) {
          padding: 12px;
          background-color: #fff;
          border-radius: 0px;
        }

        &:hover {
          background-color: #ddd;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          margin-left: 10px;
        }

        i {
          font-size: 40px;
          margin-left: 10px;
        }
        .group {
          border-radius: 50px;
          padding: 10px;
          font-size: 24px;
          color: #fff;
          background-color: rgb(0, 140, 255);
        }
        .more {
          @extend .group;
          background-color: #ddd;
          color: #444;
        }

        .content {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          overflow: hidden;
          h3 {
            font-size: 16px;
            display: block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .num-of-this {
            display: flex;
            span {
              align-self: flex-end;
              width: 8px;
              height: 8px;
              background-color: rgb(0, 140, 255);
              border-radius: 50px;
            }
            p {
              color: #444;
              font-size: 13px;
              margin-left: 3px;
              margin-top: 3px;
              color: rgb(0, 140, 255);
            }
          }
        }
      }
    }

    .right-sidebar {
      // @extend .left-sidebar;
      position: absolute;
      right: 0;
      top: 0;
      width: 18%;
      background-color: transparent;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1099px) {
        display: none;
      }

      .birthday {
        margin-top: 10px;
        border-top: 3px solid #ddd;
      }

      .head {
        display: flex;
        background-color: transparent;
        h4 {
          flex: 1;
          color: #777;
          font-size: 18px;
          margin-top: 10px;
          padding: 10px 10px 0px 10px;
        }
        button {
          width: 35px;
          height: 35px;
          border-radius: 50px;
          background-color: #ddd;
          color: #444;
          border: none;
          outline: none;
          margin-top: 10px;
          cursor: pointer;
          i {
            font-size: 16px;
          }
        }
      }

      a {
        text-decoration: none;
        color: #444;
        position: relative;
        margin-top: 15px;
        background-color: transparent;
        border-radius: 10px;
        width: 100%;
        min-height: fit-content;
        transition: all 300ms ease-in-out;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        // justify-content: space-evenly;
        padding: 10px 6px 16px 0px;
        @media screen and (max-width: 600px) {
          padding: 12px;
          background-color: #fff;
          border-radius: 0px;
        }

        &:hover {
          background-color: #ddd;
        }

        i {
          font-size: 40px;
          margin-left: 10px;
        }

        .outside {
          transform: translate(-10px, 12px);
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #fff;
          padding: 2px;

          div {
            width: 8px;
            height: 8px;
            border-radius: 5px;

            background-color: rgb(18, 197, 18);
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          margin-left: 10px;
        }

        i {
          font-size: 40px;
          margin-left: 10px;
        }
        .group {
          border-radius: 50px;
          padding: 10px;
          font-size: 24px;
          color: #fff;
          background-color: rgb(0, 140, 255);
        }
        .more {
          @extend .group;
          background-color: #ddd;
          color: #444;
        }

        .content {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          h3 {
            font-size: 16px;
            color: #444;
          }
          p {
            font-size: 16px;
            color: #444;
          }

          .num-of-this {
            display: flex;
            span {
              align-self: flex-end;
              width: 8px;
              height: 8px;
              background-color: rgb(0, 140, 255);
              border-radius: 50px;
            }
            p {
              color: #444;
              font-size: 13px;
              margin-left: 3px;
              margin-top: 3px;
              color: rgb(0, 140, 255);
            }
          }
        }
      }
    }

    .card-container {
      width: 36%;
      background-color: transparent;
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1800px) {
        width: 45%;
      }

      @media screen and (max-width: 1099px) {
        width: 65%;
      }

      @media screen and (max-width: 899px) {
        width: 80%;
      }

      @media screen and (max-width: 799px) {
        width: 90%;
      }

      @media screen and (max-width: 699px) {
        width: 100%;
      }
      @media screen and (max-width: 600px) {
        padding: 0px;
      }
    }

    // Story component
    @import "./components/story-comp";

    // Status component
    @import "./components/status-comp";

    // Card of posts
    @import "./components/card";
  }
}
